<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Skunk</title>

  <link href="/style.css" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/script.js"></script>
</head>
<body>
  <div id="UIHeader">
    <span onclick="addBarcode();" class="btn">New</span>
    <span onclick="generatePebbleURL();" class="btn">Save</span>
  </div>

  <div id="UIBarcodeListContainer">
    <% (0..7).each do |i| %>
    <div class="UIBarcode" id="UIBarcode<%= i %>" style="display:none">
      Barcode <%= i+1 %>
      <span onclick="clearBarcode(<%= i %>);" class="btn btn_right">delete</span>
      <table class="UIBarcodeInput">
        <tr>
          <td>Name</td>
          <td class="UIInputBox">
              <input type="text" name="barcode_<%= i %>_name" />
          </td>
        </tr>
        <tr>
          <td>Type</td>
          <td class="UIInputDropdown">
            <select name="barcode_<%= i %>_type" onchange="restrictInput(this.value, <%= i %>);">
              <optgroup label="Linear">
                <option value="rationalizedCodabar">Codabar</option>
                <option value="code39">Code 39</option>
                <option value="code128">Code 128</option>
                <option value="ean13">EAN-13</option>
                <option value="interleaved2of5">Interleaved 2 of 5 (ITF)</option>
                <option value="upca">UPC-A</option>
              </optgroup>
              <optgroup label="Matrix">
                <option value="azteccode">Aztec</option>
                <option value="datamatrix">Data Matrix</option>
                <option value="pdf417">PDF 417</option>
                <option value="qrcode">QR Code</option>
              </optgroup>
            </select>
          </td>
        </tr>
        <tr>
          <td>Data</td>
          <td class="UIInputBox">
              <input type="text" name="barcode_<%= i %>_data" />
          </td>
        </tr>
      </table>
    </div>
    <% end %>
  </div>
</body>
</html>
